[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raj2804
[access "refs/for/refs/*"]
	read = group user/raj2804
	push = group user/raj2804
	label-Code-Review = -2..+2 group user/raj2804
	label-Verified = -1..+1 group user/raj2804
	rebase = group user/raj2804
	removeReviewer = group user/raj2804
	submit = group user/raj2804
[access "refs/heads/*"]
	read = group user/raj2804
	create = group user/raj2804
	push = +force group user/raj2804
	pushMerge = group user/raj2804
[access "refs/tags/*"]
	push = group user/raj2804
	push = +force group user/raj2804
